# More on Pandas
Pandas contains multitudes of functions and methods that make data wrangling much easier. Lets import the example files from `Pandas.ipynb`

In [1]:
import numpy as np
import pandas as pd
#Create dataframes
dfcarbon = pd.read_excel('data/GlobalCarbonBudget2022.xlsx','Global Carbon Budget', header=0, skiprows=20)
dfcarbon

,Year,fossil emissions excluding carbonation,land-use change emissions,atmospheric growth,ocean sink,land sink,cement carbonation sink,budget imbalance
0,1959,2.417091,1.938933,2.03904,0.975005,0.401805,0.012684,0.927490
1,1960,2.562137,1.792600,1.50804,0.959013,1.234131,0.013835,0.639717
2,1961,2.570540,1.666500,1.65672,0.805321,0.839819,0.014723,0.920457
3,1962,2.661315,1.608267,1.18944,0.895229,1.322231,0.015872,0.846810
4,1963,2.803399,1.542733,1.21068,1.059837,0.871917,0.016867,1.186831
...,...,...,...,...,...,...,...,...
58,2017,9.851730,1.182300,4.54536,2.854828,3.555004,0.202927,-0.124088
59,2018,10.050902,1.141200,5.03388,2.947231,3.647435,0.209702,-0.646145
60,2019,10.120786,1.243800,5.43744,2.994756,3.041949,0.214002,-0.323561
61,2020,9.624478,1.107467,4.99140,2.998115,3.105137,0.220563,-0.583270
62,2021,10.132055,1.075067,5.22504,2.879512,3.450347,0.229795,-0.577571

Let's construct the `dfcarbon` dataframe as we did the other day. Below is the code we used to rename the columns using shorter names:

In [3]:
# Rename columns
name_dict = {}
for name in dfcarbon.columns:
    namelist = name.split(' ')
    name_dict[name] = '_'.join(namelist[0:2])
newdfcarbon = dfcarbon.rename(columns = name_dict)
# Create new column
newdfcarbon['total_carbon'] = newdfcarbon['fossil_emissions'] + newdfcarbon['land-use_change'] 
newdfcarbon = newdfcarbon.iloc[:,[0,1,2,8,3,4,5,6,7]]

In [4]:
newdfcarbon

,Year,fossil_emissions,land-use_change,total_carbon,atmospheric_growth,ocean_sink,land_sink,cement_carbonation,budget_imbalance
0,1959,2.417091,1.938933,4.356024,2.03904,0.975005,0.401805,0.012684,0.927490
1,1960,2.562137,1.792600,4.354737,1.50804,0.959013,1.234131,0.013835,0.639717
2,1961,2.570540,1.666500,4.237040,1.65672,0.805321,0.839819,0.014723,0.920457
3,1962,2.661315,1.608267,4.269582,1.18944,0.895229,1.322231,0.015872,0.846810
4,1963,2.803399,1.542733,4.346133,1.21068,1.059837,0.871917,0.016867,1.186831
...,...,...,...,...,...,...,...,...,...
58,2017,9.851730,1.182300,11.034030,4.54536,2.854828,3.555004,0.202927,-0.124088
59,2018,10.050902,1.141200,11.192102,5.03388,2.947231,3.647435,0.209702,-0.646145
60,2019,10.120786,1.243800,11.364586,5.43744,2.994756,3.041949,0.214002,-0.323561
61,2020,9.624478,1.107467,10.731944,4.99140,2.998115,3.105137,0.220563,-0.583270
62,2021,10.132055,1.075067,11.207122,5.22504,2.879512,3.450347,0.229795,-0.577571

## Filtering
Dataframes can be sliced (indexed) using logical statements. This can be useful when filtering data based on the values within each record. You can select rows from any dataframe by using a boolean statement as an index.

In [6]:
# boolean indexing
newdfcarbon[(newdfcarbon['land-use_change']<1.32) & (newdfcarbon['total_carbon']<6.1)]

,Year,fossil_emissions,land-use_change,total_carbon,atmospheric_growth,ocean_sink,land_sink,cement_carbonation,budget_imbalance
10,1969,3.757478,1.273467,5.030945,2.80368,1.274685,0.712521,0.024980,0.215080
11,1970,4.066243,1.255100,5.321343,2.40012,1.125493,0.712913,0.026503,1.056315
12,1971,4.231849,1.251600,5.483449,1.55052,1.213601,2.449680,0.028007,0.241642
13,1972,4.429238,1.252867,5.682105,3.12228,1.481408,1.252495,0.030496,-0.204575
14,1973,4.663262,1.213867,5.877129,3.10104,1.351416,1.890608,0.032620,-0.498556
15,1974,4.644508,1.179300,5.823808,1.44432,1.310524,4.186424,0.033404,-1.150864
16,1975,4.654647,1.192700,5.847347,2.61252,1.258732,2.645030,0.034116,-0.703052
17,1976,4.910449,1.174900,6.085349,2.06028,1.423740,2.988923,0.036082,-0.423675

In [8]:
newdfcarbon['total_carbon'].tolist()

[4.35602426437038,
 4.35473668375546,
 4.2370403435761705,
 4.26958193397713,
 4.3461325722614195,
 4.45014681164004,
 4.47169689651498,
 4.56185868993666,
 4.68584430104854,
 4.8821817134354,
 5.03094452284097,
 5.321343286385851,
 5.48344929337033,
 5.6821049852605405,
 5.8771287981266696,
 5.823807684541521,
 5.8473473268366405,
 6.08534940494516,
 6.2527365096071,
 6.35932398578389,
 6.4623170457229895,
 6.4371971993827,
 6.39408041536611,
 6.35736304961668,
 6.49874101812839,
 6.81518462751447,
 6.93391568285646,
 7.026204246122271,
 7.20162989008206,
 7.41438684012447,
 7.44520929583088,
 7.54223609004836,
 7.64247303879125,
 7.4974701422785195,
 7.55712811723157,
 7.71433455877584,
 7.84578718986896,
 8.036151202280589,
 8.571901044717391,
 8.10588929583904,
 8.24820599591586,
 8.34321594030088,
 8.29887170464104,
 8.585772234725649,
 9.08963309297646,
 9.27919187678275,
 9.36988795197304,
 9.73428311160305,
 9.80998118634391,
 10.024251397866522,
 9.98847053099436,
 10.42632309746933,
 10.76722733397361,
 10.87151233113644,
 10.90265342725074,
 11.052192532911441,
 11.17474872677052,
 10.93123424645587,
 11.0340301516918,
 11.1921024563856,
 11.364585744863401,
 10.731944214021059,
 11.20712189380557]

In [9]:
newdfcarbon['total_carbon'][newdfcarbon.Year>2010]

52    10.767227
53    10.871512
54    10.902653
55    11.052193
56    11.174749
57    10.931234
58    11.034030
59    11.192102
60    11.364586
61    10.731944
62    11.207122
Name: total_carbon, dtype: float64

In [13]:
maxcarbon = max(newdfcarbon['total_carbon'])
newdfcarbon[newdfcarbon['total_carbon']==maxcarbon].atmospheric_growth

60    5.43744
Name: atmospheric_growth, dtype: float64

You can also use the `query` method to filter data based on values. However, formatting queries takes a little more thinking. Please refer to [Dataframe query](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html) for formatting information

In [17]:
newdf = newdfcarbon.query('Year>2000')
newdf1 = newdfcarbon.query('`total_carbon`>10 and `land-use_change`>1.3')

In [18]:
newdf1

,Year,fossil_emissions,land-use_change,total_carbon,atmospheric_growth,ocean_sink,land_sink,cement_carbonation,budget_imbalance
51,2010,9.105990,1.320333,10.426323,5.14008,2.510948,3.321474,0.156527,-0.702706
52,2011,9.412394,1.354833,10.767227,3.56832,2.554718,4.109074,0.169466,0.365649
53,2012,9.554112,1.317400,10.871512,5.11884,2.622779,2.315468,0.176365,0.638061
55,2014,9.710026,1.342167,11.052193,4.33296,2.782889,3.663419,0.193115,0.079809
56,2015,9.704849,1.469900,11.174749,6.26580,2.846643,2.008670,0.195190,-0.141554

## Filter Method
`Pandas` also contains an explicit `filter` method that allows you to pick out rows or columns of particular interest.

In [22]:
newdfcarbon

,Year,fossil_emissions,land-use_change,total_carbon,atmospheric_growth,ocean_sink,land_sink,cement_carbonation,budget_imbalance
0,1959,2.417091,1.938933,4.356024,2.03904,0.975005,0.401805,0.012684,0.927490
1,1960,2.562137,1.792600,4.354737,1.50804,0.959013,1.234131,0.013835,0.639717
2,1961,2.570540,1.666500,4.237040,1.65672,0.805321,0.839819,0.014723,0.920457
3,1962,2.661315,1.608267,4.269582,1.18944,0.895229,1.322231,0.015872,0.846810
4,1963,2.803399,1.542733,4.346133,1.21068,1.059837,0.871917,0.016867,1.186831
...,...,...,...,...,...,...,...,...,...
58,2017,9.851730,1.182300,11.034030,4.54536,2.854828,3.555004,0.202927,-0.124088
59,2018,10.050902,1.141200,11.192102,5.03388,2.947231,3.647435,0.209702,-0.646145
60,2019,10.120786,1.243800,11.364586,5.43744,2.994756,3.041949,0.214002,-0.323561
61,2020,9.624478,1.107467,10.731944,4.99140,2.998115,3.105137,0.220563,-0.583270
62,2021,10.132055,1.075067,11.207122,5.22504,2.879512,3.450347,0.229795,-0.577571

In [26]:
newdfcarbon.filter(items = ["Year","total_carbon","fossil_emissions", "land-use_change"])

    Year  total_carbon  fossil_emissions  land-use_change
0   1959      4.356024          2.417091         1.938933
1   1960      4.354737          2.562137         1.792600
2   1961      4.237040          2.570540         1.666500
3   1962      4.269582          2.661315         1.608267
4   1963      4.346133          2.803399         1.542733
..   ...           ...               ...              ...
58  2017     11.034030          9.851730         1.182300
59  2018     11.192102         10.050902         1.141200
60  2019     11.364586         10.120786         1.243800
61  2020     10.731944          9.624478         1.107467
62  2021     11.207122         10.132055         1.075067

[63 rows x 4 columns]

# Exploration
Let's try to use some of the `pandas` functionality to explore the exoplanet data in our file `Exoplanet_Archive10.2025.csv`

In [29]:
#create exoplanet dataframe
dfplanets = pd.read_csv('data/Exoplanet_Archive10.2025.csv', header=0,  skiprows=96)
dfplanets

,pl_name,hostname,default_flag,sy_snum,sy_pnum,discoverymethod,disc_year,disc_facility,soltype,pl_controv_flag,...,sy_vmagerr2,sy_kmag,sy_kmagerr1,sy_kmagerr2,sy_gaiamag,sy_gaiamagerr1,sy_gaiamagerr2,rowupdate,pl_pubdate,releasedate
0,11 Com b,11 Com,1,2,1,Radial Velocity,2007,Xinglong Station,Published Confirmed,0,...,-0.023,2.282,0.346,-0.346,4.44038,0.003848,-0.003848,2023-09-19,2023-08,2023-09-19
1,11 Com b,11 Com,0,2,1,Radial Velocity,2007,Xinglong Station,Published Confirmed,0,...,-0.023,2.282,0.346,-0.346,4.44038,0.003848,-0.003848,2014-07-23,2011-08,2014-07-23
2,11 Com b,11 Com,0,2,1,Radial Velocity,2007,Xinglong Station,Published Confirmed,0,...,-0.023,2.282,0.346,-0.346,4.44038,0.003848,-0.003848,2014-05-14,2008-01,2014-05-14
3,11 UMi b,11 UMi,0,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,Published Confirmed,0,...,-0.005,1.939,0.270,-0.270,4.56216,0.003903,-0.003903,2018-04-25,2011-08,2014-07-23
4,11 UMi b,11 UMi,0,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,Published Confirmed,0,...,-0.005,1.939,0.270,-0.270,4.56216,0.003903,-0.003903,2018-04-25,2009-10,2014-05-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38968,ups And d,ups And,0,2,3,Radial Velocity,1999,Multiple Observatories,Published Confirmed,0,...,-0.023,2.859,0.274,-0.274,3.98687,0.008937,-0.008937,2014-09-18,2007-01,2014-09-18
38969,ups Leo b,ups Leo,1,1,1,Radial Velocity,2021,Okayama Astrophysical Observatory,Published Confirmed,0,...,-0.023,2.184,0.248,-0.248,4.03040,0.008513,-0.008513,2022-01-10,2021-12,2022-01-10
38970,xi Aql b,xi Aql,0,1,1,Radial Velocity,2007,Okayama Astrophysical Observatory,Published Confirmed,0,...,-0.023,2.171,0.220,-0.220,4.42501,0.003837,-0.003837,2014-07-23,2011-08,2014-07-23
38971,xi Aql b,xi Aql,0,1,1,Radial Velocity,2007,Okayama Astrophysical Observatory,Published Confirmed,0,...,-0.023,2.171,0.220,-0.220,4.42501,0.003837,-0.003837,2014-05-14,2008-06,2014-05-14
38972,xi Aql b,xi Aql,1,1,1,Radial Velocity,2007,Okayama Astrophysical Observatory,Published Confirmed,0,...,-0.023,2.171,0.220,-0.220,4.42501,0.003837,-0.003837,2023-09-19,2023-08,2023-09-19

In [30]:
dfplanets.columns.to_list()

['pl_name',
 'hostname',
 'default_flag',
 'sy_snum',
 'sy_pnum',
 'discoverymethod',
 'disc_year',
 'disc_facility',
 'soltype',
 'pl_controv_flag',
 'pl_refname',
 'pl_orbper',
 'pl_orbpererr1',
 'pl_orbpererr2',
 'pl_orbperlim',
 'pl_orbsmax',
 'pl_orbsmaxerr1',
 'pl_orbsmaxerr2',
 'pl_orbsmaxlim',
 'pl_rade',
 'pl_radeerr1',
 'pl_radeerr2',
 'pl_radelim',
 'pl_radj',
 'pl_radjerr1',
 'pl_radjerr2',
 'pl_radjlim',
 'pl_bmasse',
 'pl_bmasseerr1',
 'pl_bmasseerr2',
 'pl_bmasselim',
 'pl_bmassj',
 'pl_bmassjerr1',
 'pl_bmassjerr2',
 'pl_bmassjlim',
 'pl_bmassprov',
 'pl_orbeccen',
 'pl_orbeccenerr1',
 'pl_orbeccenerr2',
 'pl_orbeccenlim',
 'pl_insol',
 'pl_insolerr1',
 'pl_insolerr2',
 'pl_insollim',
 'pl_eqt',
 'pl_eqterr1',
 'pl_eqterr2',
 'pl_eqtlim',
 'ttv_flag',
 'st_refname',
 'st_spectype',
 'st_teff',
 'st_tefferr1',
 'st_tefferr2',
 'st_tefflim',
 'st_rad',
 'st_raderr1',
 'st_raderr2',
 'st_radlim',
 'st_mass',
 'st_masserr1',
 'st_masserr2',
 'st_masslim',
 'st_met',
 'st_meterr1',
 'st_meterr2',
 'st_metlim',
 'st_metratio',
 'st_logg',
 'st_loggerr1',
 'st_loggerr2',
 'st_logglim',
 'sy_refname',
 'rastr',
 'ra',
 'decstr',
 'dec',
 'sy_dist',
 'sy_disterr1',
 'sy_disterr2',
 'sy_vmag',
 'sy_vmagerr1',
 'sy_vmagerr2',
 'sy_kmag',
 'sy_kmagerr1',
 'sy_kmagerr2',
 'sy_gaiamag',
 'sy_gaiamagerr1',
 'sy_gaiamagerr2',
 'rowupdate',
 'pl_pubdate',
 'releasedate']

In [36]:
dfplanets.filter(items = ["pl_name","default_flag"])

          pl_name  default_flag
0        11 Com b             1
5        11 UMi b             1
7        14 And b             1
10       14 Her b             1
21     16 Cyg B b             1
...           ...           ...
38950   ups And b             1
38959   ups And c             1
38965   ups And d             1
38969   ups Leo b             1
38972    xi Aql b             1

[6028 rows x 2 columns]

In [33]:
dfplanets = dfplanets[dfplanets.default_flag==1]
#setting index - not strictly needed
dfplanets.set_index("pl_name")

,hostname,default_flag,sy_snum,sy_pnum,discoverymethod,disc_year,disc_facility,soltype,pl_controv_flag,pl_refname,...,sy_vmagerr2,sy_kmag,sy_kmagerr1,sy_kmagerr2,sy_gaiamag,sy_gaiamagerr1,sy_gaiamagerr2,rowupdate,pl_pubdate,releasedate
pl_name,,,,,,,,,,,,,,,,,,,,,
11 Com b,11 Com,1,2,1,Radial Velocity,2007,Xinglong Station,Published Confirmed,0,<a refstr=TENG_ET_AL__2023 href=https://ui.ads...,...,-0.023,2.282,0.346,-0.346,4.44038,0.003848,-0.003848,2023-09-19,2023-08,2023-09-19
11 UMi b,11 UMi,1,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,Published Confirmed,0,<a refstr=STASSUN_ET_AL__2017 href=https://ui....,...,-0.005,1.939,0.270,-0.270,4.56216,0.003903,-0.003903,2018-09-04,2017-03,2018-09-06
14 And b,14 And,1,1,1,Radial Velocity,2008,Okayama Astrophysical Observatory,Published Confirmed,0,<a refstr=TENG_ET_AL__2023 href=https://ui.ads...,...,-0.023,2.331,0.240,-0.240,4.91781,0.002826,-0.002826,2023-09-19,2023-08,2023-09-19
14 Her b,14 Her,1,1,2,Radial Velocity,2002,W. M. Keck Observatory,Published Confirmed,0,<a refstr=FENG_ET_AL__2022 href=https://ui.ads...,...,-0.023,4.714,0.016,-0.016,6.38300,0.000351,-0.000351,2023-06-12,2022-09,2023-06-12
16 Cyg B b,16 Cyg B,1,3,1,Radial Velocity,1996,Multiple Observatories,Published Confirmed,0,<a refstr=STASSUN_ET_AL__2017 href=https://ui....,...,-0.016,4.651,0.016,-0.016,6.06428,0.000603,-0.000603,2018-09-04,2017-03,2018-09-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ups And b,ups And,1,2,3,Radial Velocity,1996,Lick Observatory,Published Confirmed,0,<a refstr=CURIEL_ET_AL__2011 href=https://ui.a...,...,-0.023,2.859,0.274,-0.274,3.98687,0.008937,-0.008937,2019-01-28,2011-01,2019-01-31
ups And c,ups And,1,2,3,Radial Velocity,1999,Multiple Observatories,Published Confirmed,0,<a refstr=CURIEL_ET_AL__2011 href=https://ui.a...,...,-0.023,2.859,0.274,-0.274,3.98687,0.008937,-0.008937,2019-01-28,2011-01,2019-01-31
ups And d,ups And,1,2,3,Radial Velocity,1999,Multiple Observatories,Published Confirmed,0,<a refstr=CURIEL_ET_AL__2011 href=https://ui.a...,...,-0.023,2.859,0.274,-0.274,3.98687,0.008937,-0.008937,2019-01-28,2011-01,2019-01-31
ups Leo b,ups Leo,1,1,1,Radial Velocity,2021,Okayama Astrophysical Observatory,Published Confirmed,0,<a refstr=TENG_ET_AL__2021 href=https://ui.ads...,...,-0.023,2.184,0.248,-0.248,4.03040,0.008513,-0.008513,2022-01-10,2021-12,2022-01-10
xi Aql b,xi Aql,1,1,1,Radial Velocity,2007,Okayama Astrophysical Observatory,Published Confirmed,0,<a refstr=TENG_ET_AL__2023 href=https://ui.ads...,...,-0.023,2.171,0.220,-0.220,4.42501,0.003837,-0.003837,2023-09-19,2023-08,2023-09-19

In [42]:
len(dfplanets['sy_snum'][dfplanets.sy_snum>1])

553

In [44]:
import statistics as st
Kratio = 7.496*10**(-6)
ratio = dfplanets.pl_orbsmax**3/dfplanets.pl_orbper**2
print(ratio/Kratio)

0        2.087549
5        1.792979
7        1.780360
10       0.914074
21       0.957073
           ...
38950    1.299829
38959    1.299997
38965    1.299822
38969    1.477216
38972    1.736039
Length: 6028, dtype: float64

In [ ]:
len(dfplanets.st_mass)

In [ ]:
len(dfplanets.st_mass[dfplanets.sy_snum==1])

In [ ]:
sum(dfplanets.pl_orbsmax<0.5)

In [ ]:
dfplanets.pl_rade.hist(bins=20)